/* The Core Technique */
.card {
  position: relative;
  /* elevate the links up */
}
.card a {
  position: relative;
  z-index: 1;
}

.the-post-title {
  /* ... */
}
.the-post-title a {
  position: static;
  /* expand the pseudo-element to cover the post area */
}
.the-post-title a::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Just for looks */
body {
  background: #333;
  margin: 2rem;
}

.card {
  background: white;
  padding: 2rem;
}